.w-10em{
    width: 10em;
}
/*input::-webkit-calendar-picker-indicator {
    display: none;
}*/
.active>span{
    color: white;
}
.cursor{
    cursor: pointer;
}

html, body {
    height: 100vh;
}
#main-wrapper{
    height: 100vh;
    overflow: visible!important;
}
.left-sidebar{
    position: fixed;
    overflow: auto;
}
.left-sidebar::-webkit-scrollbar {
    display: none;
}
.page-wrapper>div{
    height: 100vh;
}
/*fieldset {
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0.75em;
    border: 1px solid darkgray;
    border-radius: 0.25em;
}
legend {
    width: auto;
    font-size: 1.35em;
    padding: 0 0.2em 0 0.2em;
}*/

/*Estilos para los navtabs*/
.nav-tabs{
    /*border-bottom: 1px solid #dee2e6;*/
    /*background: #1F262D;*/

    background: white;

    /*background: #3e5569;*/
}
.nav-tabs>.nav-item{
    color: #1F262D;
    /*opacity: 0.9;*/
    text-align: center;
    border: 1px solid #1F262D;
}
.nav-tabs>.nav-item.active{
    color: white;
    background: #1F262D;
}
.nav-tabs>.nav-item.nav-link:hover:not(.active){
    color: white;
    background: #1F262D;
    border: 1px solid transparent;
}

/*input suggestions*/
.dropdown-menu{
    box-shadow: 0 5px 3px darkgray;
}

.btn-sm-icon{
    height: 1.75rem;
    padding: 0;
    width: 1.8rem;
    font-size: 0.75rem;
    line-height: 3;
}